<div>
  <img src="/avatar.png" alt="Profiel foto van Mark Teekman">
  <p aria-hidden="true">Mark Teekman</p>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  img {
    max-width: 3rem;
  }

  p {
    display: none;

    @include breakpoint(600) {
      display: block;
    }
  }
</style>
