---
import SocialCard from '../components/SocialCard.astro'
---

<section>
  <div class="section-divider" aria-hidden="true">Socials</div>
  <div class="container">
    <h2 class="animate">Let's connect</h2>
    <div class="socials animate">
      <SocialCard
        url="https://github.com/markteekman"
        icon="mdi:github"
        platform="GitHub"
        username="markteekman"
      /> 
      <SocialCard
        url="https://www.linkedin.com/in/markteekman/"
        icon="mdi:linkedin"
        platform="LinkedIn"
        username="Mark Teekman"
      />
      <SocialCard 
        hasSVG={true}
        url="https://www.frontendmentor.io/profile/markteekman"
        platform="FE Mentor"
        username="@markteekman"
      >
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 6C0 2.68629 2.68629 0 6 0H36C39.3137 0 42 2.68629 42 6V36C42 39.3137 39.3137 42 36 42H6C2.68629 42 0 39.3137 0 36V6Z" fill="#E4E4E4"/>
          <path d="M36.0246 21.6795C35.887 21.6795 35.7509 21.6513 35.6252 21.5967L27.2481 17.9249C27.0763 17.8493 26.9305 17.7268 26.8282 17.572C26.7259 17.4172 26.6715 17.2368 26.6715 17.0525C26.6715 16.8682 26.7259 16.6877 26.8282 16.533C26.9305 16.3782 27.0763 16.2556 27.2481 16.1801L35.6252 12.521C35.8616 12.4183 36.1301 12.4114 36.3717 12.5019C36.6134 12.5923 36.8086 12.7728 36.9147 13.0037C37.0195 13.2353 37.0264 13.4982 36.9337 13.7347C36.8411 13.9713 36.6564 14.1623 36.4202 14.2659L30.0378 17.0538L36.4215 19.8519C36.6256 19.9409 36.7923 20.0959 36.8937 20.2908C36.9952 20.4858 37.0251 20.7089 36.9787 20.9229C36.9322 21.1368 36.8121 21.3287 36.6385 21.4664C36.4648 21.6041 36.2481 21.6793 36.0246 21.6795Z" fill="#1C1C1C"/>
          <path d="M24.608 35C15.3981 35 7.34633 28.9148 5.03151 20.2008C4.96629 19.9558 5.00319 19.6954 5.13411 19.477C5.26503 19.2585 5.47923 19.1 5.7296 19.0361C5.97997 18.9723 6.24599 19.0084 6.46915 19.1365C6.69231 19.2647 6.85432 19.4743 6.91954 19.7194C7.9407 23.5497 10.2312 26.9402 13.4321 29.3597C16.6331 31.7792 20.5636 33.091 24.608 33.0896C24.8668 33.0896 25.115 33.1902 25.298 33.3694C25.481 33.5485 25.5839 33.7915 25.5839 34.0448C25.5839 34.2981 25.481 34.5411 25.298 34.7202C25.115 34.8994 24.8668 35 24.608 35Z" fill="#1C1C1C"/>
          <path d="M21.2457 27.068C20.9869 27.068 20.7386 26.9674 20.5556 26.7883C20.3726 26.6091 20.2698 26.3662 20.2698 26.1128V7.9552C20.2698 7.70186 20.3726 7.4589 20.5556 7.27977C20.7386 7.10064 20.9869 7 21.2457 7C21.5045 7 21.7527 7.10064 21.9357 7.27977C22.1188 7.4589 22.2216 7.70186 22.2216 7.9552V26.1128C22.2216 26.3662 22.1188 26.6091 21.9357 26.7883C21.7527 26.9674 21.5045 27.068 21.2457 27.068Z" fill="#1C1C1C"/>
        </svg>
      </SocialCard>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  section h2 {
    margin-bottom: 8rem; 
  }

  .socials {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    background-color: #1c1c1c;
    padding: 7rem 1rem;
    border-radius: 1rem;

    @include breakpoint(medium) {
      padding: 7rem 3rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 540px;
      height: 108px;
      background-size: 100%;
      background-repeat: no-repeat;
      z-index: 1;
    }

    &::before {
      top: -42px;
      left: -90px;
      background-image: url('/dotgrid-upper-socials.png');
    }

    &::after {
      bottom: -43px;
      right: -90px;
      background-image: url('/dotgrid-lower-socials.png');
    }

  }
</style>
